/* default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  /* variables */
  :root {
    --primary: #74917d;
    --primary-variant: rgba(116, 145, 125, 0.5);
    --secondary: #918383;
    --color-alert: #bb0000;
    --emphasis-yellow: #fefe00;
    --subtle-red: #f54a4d;
  }
  
  /* ############### PHONE ############## */
  @media screen and (min-width: 300px) {
    /* header */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    /* logo container */
    .logo {
      display: flex;
      justify-content: flex-start;
      gap: 24px;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 0px;
      position: relative;
    }
  
    /* logo desktop */
    .logo :first-child {
      color: black;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 10px;
      display: none;
    }
  
    /* logo mobile */
    .logo :nth-child(2) {
      color: black;
      font-size: 32px;
      font-weight: bold;
      position: relative;
      top: 10px;
    }
  
    /* download button desktop */
    .logo button {
      font-size: 18px;
      color: black;
      font-weight: bold;
      background-color: white;
      border: solid black 1px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      display: none;
    }
  
    /* call */
    .call {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      gap: 24px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  
    /* call text */
    .call p {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 8px;
      display: none;
    }
  
    /* body */
    /* *** body *** */
    .body {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 48px;
    }
  
    /* **** body **** */
    /* warning sign */
    .wait{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
    }

    /* warning message */
    .wait p{
      font-size: 36px;
      font-weight: bold;
      color: #BB0000;
    }

    .body :nth-child(2){
      font-size: 24px;
      text-align: center;
    }

    /* subheading */
    .body :nth-child(3){
      font-size: 20px;
      text-align: center;
    }

    /* questions */
    .questions{
      font-size: 24px;
      text-align: center;
      font-weight: 500;
    }

    .body :nth-child(8){
      font-size: 24px;
      text-align: start;
      
    }

    /* youthful */
    .youthful, .excited-partner, .get-noticed{
      display: flex;
      align-items: center;
      margin-top: 90px;
    }

    /* youthful */
    .youthful p, #excited-partner, #get-noticed{
      font-size: 24px;
    }

    .bold-text{
      font-weight: bold;
    }

    .excited-partner{
      display: flex;
      flex-direction: column-reverse;
    }    

    /* sales letter */
    .sales-letter p{
      font-size: 24px;
      text-align: start !important;
      margin-bottom: 30px;
    }

    .sales-letter #p1{
      margin-top: 90px;
    }

    #p2{
      text-align: start;
      margin-top: 48px;
    }

    .p{
      font-size: 24px !important;
    }

    /* highlited text */
    .highlited-text{
      font-size: 28px !important;
      width: fit-content;
      margin: 60px auto;
    }

    #p2{
      font-size: 24px;
      text-align: start;
      margin-top: 48px;
    }

    mark {
      background-color: yellow;
      color: black;
    }

    .red{
      color: #F54A4D;
    }

    .custom-size{
      font-size: 24px !important;
    }

    /* black marker */
    .black-marker{
      background-color: black;
    }

    /* images */
    .images{
      max-width: 90%;
      margin-bottom: 60px;
    }

    #benefits li{
      font-size: 24px;
      margin: 0 !important;
      padding: 0 !important;
      text-align: start !important;
    }

    .convincing{
      font-size: 48px !important;
    }

  }
  
  /* ############ TABLET ########## */
  @media screen and (min-width: 700px) {
    /* header */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    /* logo container */
    .logo {
      display: flex;
      justify-content: flex-start;
      gap: 24px;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 0px;
      position: relative;
    }
  
    /* logo desktop */
    .logo :first-child {
      color: black;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 10px;
      display: none;
    }
  
    /* logo mobile */
    .logo :nth-child(2) {
      color: black;
      font-size: 32px;
      font-weight: bold;
      position: relative;
      top: 10px;
    }
  
    /* download button desktop */
    .logo button {
      font-size: 18px;
      color: black;
      font-weight: bold;
      background-color: white;
      border: solid black 1px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      display: none;
    }
  
    /* call */
    .call {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      gap: 24px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  
    /* call text */
    .call p {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 8px;
      display: none;
    }
  
    /* *** body *** */
    .body {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 48px;
    }
  
    /* **** body **** */
    /* warning sign */
    .wait{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
    }

    /* warning message */
    .wait p{
      font-size: 36px;
      font-weight: bold;
      color: #BB0000;
    }
    
  }
  /* ############ DESKTOP ########## */
  @media screen and (min-width: 1100px) {
    /* header */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 30px;
      padding-right: 170px;
    }
  
    /* logo container */
    .logo {
      display: flex;
      justify-content: flex-start;
      gap: 24px;
      align-items: center;
      padding-top: 17px;
      padding-bottom: 17px;
      width: 30%;
      position: relative;
    }
  
    /* logo */
    .logo :first-child {
      color: black;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 10px;
      display: block;
    }
  
    /* logo mobile */
    .logo :nth-child(2) {
      color: black;
      font-size: 32px;
      font-weight: bold;
      position: relative;
      top: 10px;
      display: none;
    }
  
    /* download button desktop */
    .logo button {
      font-size: 18px;
      color: black;
      font-weight: bold;
      background-color: white;
      border: solid black 1px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
    }
  
    /* download icon */
    .logo button > img {
      margin-bottom: 18px;
    }
  
    /* call */
    .call {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 25%;
      position: relative;
      gap: 24px;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  
    /* call text */
    .call p {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 8px;
      display: block;
    }
  
    /* *** body *** */
    .body {
      padding-left: 170px;
      padding-right: 170px;
      padding-top: 48px;
    }
  
    /* warning sign */
    .wait{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 48px;
    }

    /* warning message */
    .wait p{
      font-size: 48px;
      font-weight: bold;
      color: #BB0000;
    }

    /* heading */
    .body :nth-child(2){
      font-size: 36px;
      text-align: center;
    }

    /* subheading */
    .body :nth-child(3){
      font-size: 24px;
      text-align: center;
    }

    /* questions */
    .questions{
      font-size: 24px;
      text-align: center;
      font-weight: 500;
    }
    
    /* youthful */
    .youthful, .excited-partner, .get-noticed{
      display: flex;
      align-items: center;
      margin-top: 90px;
    }

    /* excited */
    .youthful p, #excited-partner, #get-noticed{
      font-size: 24px;
    }

    .bold-text{
      font-weight: bold;
    }

    .excited-partner{
      display: flex;
      flex-direction: row;
    }
    
    /* sales letter */
    .sales-letter p{
      font-size: 24px;
      text-align: start !important;
      margin-bottom: 30px;
    }

    .sales-letter #p1{
      margin-top: 60px;
    }

    /* highlited text */
    .highlited-text{
      font-size: 28px !important;
      width: fit-content;
      margin: 60px auto;
    }

    mark {
      background-color: yellow;
      color: black;
    }

    #p2{
      font-size: 24px;
      text-align: start;
      margin-top: 48px;
    }

    .red{
      color: #F54A4D;
    }

    .custom-size{
      font-size: 24px !important;
    }

    /* black marker */
    .black-marker{
      background-color: black;
    }

    /* images */
    .images{
      max-width: 100%;
      margin-bottom: 60px;
    }

    /* center marker */
    .center-marker{
      margin: 30px auto !important;
    }

    #benefits li{
      font-size: 24px;
      margin: 0 !important;
      padding: 0 !important;
      text-align: start !important;
    }

    .convincing{
      font-size: 48px !important;
    }
    
  }
  