/* default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* variables */
:root{
    --primary: #74917D;
    --primary-variant: rgba(116, 145, 125, .5);
    --secondary: #918383;
    --color-alert: #BB0000;
    --emphasis-yellow: #FEFE00;
    --subtle-red: #F54A4D;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 170px;
}

/* logo container */
.logo{
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 30%;
    position: relative;
}

/* logo */
.logo p{
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

/* download button */
.logo button{
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: solid black 1px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

/* call */
.call{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    position: relative;
    gap: 24px;
    padding-top: 17px;
    padding-bottom: 17px;
}

/* call text */
.call p{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 8px;
}