/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* variables */
:root {
  --primary: #74917d;
  --primary-variant: rgba(116, 145, 125, 0.5);
  --secondary: #918383;
  --color-alert: #bb0000;
  --emphasis-yellow: #fefe00;
  --subtle-red: #f54a4d;
}

/* ############### PHONE ############## */
@media screen and (min-width: 300px) {
  /* header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* logo container */
  .logo {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
  }

  /* logo desktop */
  .logo :first-child {
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 10px;
    display: none;
  }

  /* logo mobile */
  .logo :nth-child(2) {
    color: black;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 10px;
  }

  /* download button desktop */
  .logo button {
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: solid black 1px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    display: none;
  }

  /* call */
  .call {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    gap: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* call text */
  .call p {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 8px;
    display: none;
  }

  /* body */
  /* *** body *** */
  .body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 48px;
  }

  .row {
    display: flex;
    align-items: center;
  }

  /* left container */
  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 3;
  }

  /* Sub-heading */
  .left :first-child {
    color: var(--secondary);
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 20px;
    line-height: 36px;
    position: absolute;
    left: 0;
  }

  /* heading */
  .left :nth-child(2) {
    color: black;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    margin-top: 90px;
    margin-bottom: 106px;
  }

  /* Download Now button */
  #download-now {
    font-size: 24px;
    font-weight: bold;
    width: 75%;
    height: 72px;
    border-radius: 20px;
    background: linear-gradient(100deg, var(--primary), var(--secondary) 60%);
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* right overlay */
  .right ::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 75%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* right side */
  .right {
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 52px;
  }

  /* right-side inner container */
  .right-inner-container {
    background-image: url(/Tom/images/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: visible;
    width: 20%;
  }

  /* ***** popup modal ***** */
  .modal-content{
    padding: 12px;
  }

  /* modal title */
  .modal-body :first-child{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }

  /* form input */
  #form input{
    height: 55px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-weight: normal;
    text-align: start;
  }

  #form input ::placeholder{
    text-align: start !important;
    font-weight: normal !important;
  }

  /* checkbox */
  #checkbox input{
    margin-top: -30px;
    margin-bottom: -30px !important;
  }

  /* checkbox container */
  #checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-top: -30px;
  }

  /* checkbox paragraph */
  #checkbox p{
    margin-top: 16px;
  }

  /* modal button */
  #modal-button{
    width: 100%;
    height: 55px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(100deg, var(--primary), var(--secondary) 60%);
    border: none;
  }
}

/* ############ TABLET ########## */
@media screen and (min-width: 700px) {
  /* header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* logo container */
  .logo {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
  }

  /* logo desktop */
  .logo :first-child {
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 10px;
    display: none;
  }

  /* logo mobile */
  .logo :nth-child(2) {
    color: black;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 10px;
  }

  /* download button desktop */
  .logo button {
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: solid black 1px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    display: none;
  }

  /* call */
  .call {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    gap: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* call text */
  .call p {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 8px;
    display: none;
  }

  /* *** body *** */
  .body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 48px;
  }

  .row {
    display: flex;
    align-items: center;
  }

  /* left container */
  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    position: relative;
  }

  /* Sub-heading */
  .left :first-child {
    color: var(--secondary);
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 20px;
    position: absolute;
    left: 0;
  }

  /* heading */
  .left :nth-child(2) {
    color: black;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    margin-top: 90px;
    margin-bottom: 132px;
    margin-left: 30px;
  }

  /* Download Now button */
  #download-now {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 72px;
    border-radius: 20px;
    background: linear-gradient(100deg, var(--primary), var(--secondary) 60%);
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* right overlay */
  .right ::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: white;
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* right side */
  .right {
    display: flex;
    justify-content: flex-end;
    overflow: visible;
    position: relative;
    overflow: hidden;
  }
  /* right-side inner container */
  .right-inner-container {
    background-image: url(/Tom/images/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 100%;
    width: 75%;
  }

  /* ***** popup modal ***** */
  .modal-content{
    padding: 30px;
  }

  /* modal title */
  .modal-body :first-child{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }

  /* form input */
  #form input{
    height: 55px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-weight: normal;
    text-align: start;
  }

  #form input ::placeholder{
    text-align: start !important;
    font-weight: normal !important;
  }

  /* checkbox */
  #checkbox input{
    margin-top: -30px;
    margin-bottom: -30px !important;
  }

  /* checkbox container */
  #checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-top: -30px;
  }

  /* checkbox paragraph */
  #checkbox p{
    margin-top: 16px;
  }

  /* modal button */
  #modal-button{
    width: 100%;
    height: 55px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(100deg, var(--primary), var(--secondary) 60%);
    border: none;
  }
}
/* ############ DESKTOP ########## */
@media screen and (min-width: 1100px) {
  /* header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 170px;
  }

  /* logo container */
  .logo {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 30%;
    position: relative;
  }

  /* logo */
  .logo :first-child {
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 10px;
    display: block;
  }

  /* logo mobile */
  .logo :nth-child(2) {
    color: black;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 10px;
    display: none;
  }

  /* download button desktop */
  .logo button {
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: solid black 1px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  /* download icon */
  .logo button > img {
    margin-bottom: 18px;
  }

  /* call */
  .call {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    position: relative;
    gap: 24px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  /* call text */
  .call p {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 8px;
    display: block;
  }

  /* *** body *** */
  .body {
    padding-left: 170px;
    padding-right: 130px;
    padding-top: 48px;
  }

  .row {
    display: flex;
    align-items: center;
  }

  /* left container */
  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    position: relative;
  }

  /* Sub-heading */
  .left :first-child {
    color: var(--secondary);
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 20px;
    position: absolute;
    left: 0;
  }

  /* heading */
  .left :nth-child(2) {
    color: black;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    margin-top: 70px;
    margin-bottom: 132px;
    margin-left: 0px;
  }

  /* Download Now button */
  #download-now {
    font-size: 24px;
    font-weight: bold;
    width: 55%;
    height: 72px;
    border-radius: 20px;
    background: linear-gradient(100deg, var(--primary), var(--secondary) 60%);
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* right overlay */
  .right ::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: white;
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* right side */
  .right {
    display: flex;
    justify-content: flex-end;
    overflow: visible;
    position: relative;
  }
  /* right-side inner container */
  .right-inner-container {
    background-image: url(/Tom/images/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: visible;
    width: 100%;
    width: 75%;
  }

  /* ***** popup modal ***** */
  .modal-content{
    padding: 30px;
  }

  /* modal title */
  .modal-body :first-child{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }

  /* form input */
  #form input{
    height: 55px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-weight: normal;
    text-align: start;
  }

  #form input ::placeholder{
    text-align: start !important;
    font-weight: normal !important;
  }

  /* checkbox */
  #checkbox input{
    margin-top: -30px;
    margin-bottom: -30px !important;
  }

  /* checkbox container */
  #checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-top: -30px;
  }

  /* checkbox paragraph */
  #checkbox p{
    margin-top: 16px;
  }

  /* modal button */
  #modal-button{
    width: 100%;
    height: 55px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(100deg, var(--primary), var(--secondary) 60%);
    border: none;
  }
}
